<%= form_for(@like) do |f| %>
  <% if @like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
      <% @like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :like %><strong>(leave empty for dislike)</strong>
    <%= f.check_box :like %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user %>
  </div>
  <%= f.select :comment_id, options_from_collection_for_select(@comments, :id, :text, selected: @like.comment_id, :prompt => true)%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
