<p id="notice"><%= notice %></p>

<h1>Top comments this week</h1>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <strong><%= link_to comment.post, comment.post %>: </strong>
      <%= truncate(comment.text, :length => 30) %> 
      <strong>by <%= link_to comment.user, comment.user %></strong>
      <% if comment.likes_ratio > 0 %>
        <p style="display:inline;color:#008000">+<%= comment.likes_ratio %></p>
      <% elsif comment.likes_ratio < 0 %>
        <p style="display:inline;color:#FF0000"><%= comment.likes_ratio %></p>
      <% end %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Like', new_like_path %>

<br>

<%= link_to 'Comment feed', comments_path %>