<p id="notice"><%= notice %></p>

<h1>Top blogs this week</h1>

<ul>
  <% @top_posts.each do |post| %>
    <li>
      <h3><%= link_to post.name, post %></h3>
      <p style="color:#808080">
        By: <%= link_to post.user, post.user %>,
        average of ratings: <%= post.average_rating %>,
        created at: <%= post.created_at.strftime("%A") %>
      </p>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Rating', new_rating_path %>
