<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @rating.post_id %>
</p>
<% if current_user && current_user == @rating.user %>
  <%= link_to 'Edit', edit_rating_path(@rating) %> |
<% end %>
<%= link_to 'Back', ratings_path %>
