
<strong><%= link_to comment.user, comment.user %>:</strong>
<%= comment.text %>
<% if current_user == comment.user %>
  <%= link_to 'edit comment', edit_comment_path(comment), class:"btn btn-success" %>
<% end %>
<% if current_user %>
  <%= link_to 'like', likes_path(like: true, user_id: current_user.id, comment_id: comment.id), method: :post, class:"btn btn-info" %>
  <%= link_to 'dislike', likes_path(like: false, user_id: current_user.id, comment_id: comment.id), method: :post, class:"btn btn-danger" %>
<% end %>
<% if comment.likes_ratio > 0 %>
  <p style="display:inline;color:#008000">+<%= comment.likes_ratio %></p>
<% elsif comment.likes_ratio < 0 %>
  <p style="display:inline;color:#FF0000"><%= comment.likes_ratio %></p>
<% end %>
