<p id="notice"><%= notice %></p>

<h2>
  <%= @post.name %>
</h2>

<p style="color:#808080">
  <strong>Written by:</strong>
  <%= @post.user %>
</p>

<p>
  <%= simple_format(@post.text) %>
</p>

<p><strong>Average of <%= pluralize(@post.ratings.count, 'rating') %>:</strong> <%= @post.average_rating %></p>

<%= render 'rating_form' %>

<h3>Comments</h3>

<h4>New Comment</h4>

<%= render 'comment_form' %>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <strong><%= link_to comment.user, comment.user %>:</strong>
      <%= comment.text %>
      <% if current_user == comment.user %>
        <%= link_to 'edit comment', edit_comment_path(comment), class:"btn btn-success" %>
      <% end %>
      <% if current_user %>
        <%= link_to 'like', likes_path(like: true, user_id: current_user.id, comment_id: comment.id), method: :post, class:"btn btn-info" %>
        <%= link_to 'dislike', likes_path(like: false, user_id: current_user.id, comment_id: comment.id), method: :post, class:"btn btn-danger" %>
      <% end %>
      <% if comment.likes_ratio > 0 %>
        <p style="display:inline;color:#008000">+<%= comment.likes_ratio %></p>
      <% elsif comment.likes_ratio < 0 %>
        <p style="display:inline;color:#FF0000"><%= comment.likes_ratio %></p>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user && current_user == @post.user %>
  <%= link_to 'Edit post', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
